RewriteEngine On

# Everything, except assets, styles and scripts, gets piped through to index.php
RewriteCond %{REQUEST_URI} !/assets/.*$
RewriteCond %{REQUEST_URI} !/styles/.*$
RewriteCond %{REQUEST_URI} !/scripts/.*$
RewriteCond %{REQUEST_URI} !/favicon.png$
RewriteRule ^.*$ index.php [NC,L]