<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Warp zone</title>
        <link rel="icon" type="image/png" href="favicon.png"/>
        <link href="styles/default-style.css" rel="stylesheet" type="text/css"/>
    </head>

    <body>
        <div id="header">
            <h3 class="headerTitle">Warp zone</h3>
            <form id="entryForm" method="post" action="generate_index.php">
                <input class="textInput" type="text" name="url"/>
                <input class="textInput" type="text" name="displayName"/>
                <select class="selectInput" name="section">
                    <%ph id="selectOptions"%>
                </select>
                <input class="submitButton" type="submit" name="submit">
            </form>
            <a href="generate_index.php">
                <div class="actionButton" id="rebuildPage">Rebuild</div>
            </a>
        </div>

        <div id="content">
            <%ph id="columns"%>
        </div>

        <div id="footer">
            <span>&copy; 2015 Etienne Ott</span>
            <span>-</span>
            <span>Unless otherwise specified, all elements on this website are released under the <a href="http://opensource.org/licenses/MIT" target="_blank">MIT licence</a>.</span>
        </div>
    </body>
</html>